src/Splitio-net-core/bin/Debug/netstandard1.6/*
src/Splitio-net-core/obj/*
TestResults/*
.vs/config/applicationhost.config
.vs/restore.dg
.vs/Split.io-net-core/v14/.suo
packages/*
SplitioTests/bin/*
SplitioTests/obj/*
src/Splitio-net-core/bin/*
.vs/Split.io-net-core/v15/.suo
Splitio-net-core-tests/bin/*
Splitio-net-core-tests/obj/*
Splitio.TestSupport/bin
Splitio.TestSupport/obj
Splitio-net-core.Redis/obj
Splitio-net-core.Redis/bin/
.vs/Split.io-net-core/v15/Server/sqlite3/storage.ide-wal
.vs/Split.io-net-core/v15/Server/sqlite3/storage.ide-shm
.vs/Split.io-net-core/v15/Server/sqlite3/storage.ide
.vs/Split.io-net-core/v15/Server/sqlite3/db.lock
/Splitio-net-core-tests/TestResults
/Splitio-net-frameworks-tests/bin/Debug
/Splitio-net-frameworks-tests/obj/Debug
/Splitio-net-frameworks-tests/Splitio-net-frameworks-tests.csproj.user
/.vs
*.user
Splitio-net-frameworks-tests/bin/
Splitio-net-frameworks-tests/obj/
/Splitio-net-core.Integration-tests/bin
/Splitio-net-core.Integration-tests/obj
