src/Splitio-net-core/bin/Debug/netstandard1.6/*
src/Splitio-net-core/obj/*
TestResults/*
.vs/config/applicationhost.config
.vs/restore.dg
.vs/Split.io-net-core/v14/.suo
packages/*
SplitioTests/bin/*
SplitioTests/obj/*
src/Splitio-net-core/bin/*
.vs/Split.io-net-core/v15/.suo
Splitio-net-core-tests/bin/*
Splitio-net-core-tests/obj/*
Splitio.TestSupport/bin
Splitio.TestSupport/obj
