nuget:
  account_feed: true

version: 3.6.0-rc{build}

dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  package_version: '{version}'

configuration: Release

before_build:
 - choco install redis-64
 - redis-server --service-install
 - redis-server --service-start
 - dotnet restore -s https://www.nuget.org/api/v2/
 - cmd: set BUILD_VERSION=%APPVEYOR_BUILD_NUMBER%

build: off

build_script:
 - dotnet build --configuration Release
 
after_build:
 - dotnet test .\Splitio-net-core-tests\Splitio-net-core-tests.csproj --configuration Release
 - dotnet test .\Splitio.TestSupport\Splitio-net-core.TestSupport.csproj --configuration Release
 - dotnet pack .\src\Splitio-net-core --configuration Release
 - dotnet pack .\Splitio-net-core.Redis --configuration Release
 - dotnet pack .\Splitio.TestSupport --configuration Release

test: off

artifacts:
 - path: '**\Splitio-net-core.*.nupkg'
   name: splitio-net-core-nuget

deploy:
 - provider: Environment
   name: NugetNetCorePublish
   on:
    branch: master
