nuget:
  account_feed: true

version: 6.1.3-rc{build}

dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  package_version: '{version}'

configuration: Release

before_build:
 - choco install "sonarscanner-msbuild-net46" -y
 - nuget install redis-64 -excludeversion -source http://www.nuget.org/api/v2/
 - redis-server --service-install
 - dotnet restore -s https://www.nuget.org/api/v2/
 - cmd: set BUILD_VERSION=%APPVEYOR_BUILD_NUMBER%

build_script:
 - sonar-scanner.bat
 - dotnet build --configuration Release
 - SonarScanner.MSBuild.exe end /d:sonar.login=%SONAR_LOGIN%

after_build:
 #- redis-server --service-start
 - dotnet test .\Splitio-net-core-tests\Splitio-net-core-tests.csproj --configuration Release --framework netcoreapp2.2
 #- redis-server --service-stop
 #- redis-server --service-start
 - dotnet test .\Splitio-net-core-tests\Splitio-net-core-tests.csproj --configuration Release --framework netcoreapp1.0
 - redis-server --service-stop
 - redis-server --service-start
 - dotnet test .\Splitio-net-core-tests\Splitio-net-core-tests.csproj --configuration Release --framework net472
 - redis-server --service-stop
 - redis-server --service-start
 - dotnet test .\Splitio-net-core-tests\Splitio-net-core-tests.csproj --configuration Release --framework net462
 - redis-server --service-stop
 - redis-server --service-start
 - dotnet test .\Splitio-net-core-tests\Splitio-net-core-tests.csproj --configuration Release --framework net45
 - dotnet test .\Splitio.TestSupport\Splitio-net-core.TestSupport.csproj --configuration Release
 - dotnet pack .\src\Splitio-net-core --configuration Release
 - dotnet pack .\Splitio-net-core.Redis --configuration Release
 - dotnet pack .\Splitio.TestSupport --configuration Release

test: off

artifacts:
 - path: '**\Splitio*.nupkg'
   name: splitio-nuget

deploy:
 - provider: Environment
   name: NugetNetCorePublish
   on:
    branch: master
